*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
background-color: #bbb2b2;
z-index: 10;
}

.logo{

max-width: 5rem;


}

.nav-list{
display: flex;
list-style-type: none;
gap: 1rem;
}
.opciones:hover{
  background: #4CAF50;;
}

.nav-list  a {
text-decoration: none;
color: #1c1c1c;

}

.abrir-menu,
.cerrar-menu{
display: none;

}



@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
       font-size: 1.5rem;
       background-color: transparent;
       cursor: pointer;
    }
    .cerrar-menu{
color: #ececec;

    }
    .nav{
        opacity: 0;
        visibility: hidden; 
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        bottom: 0%;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 10;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;

    }

    .nav-list{
flex-direction: column;
align-items: end;

    }
    .nav-list li a{
        color: aliceblue;

    }
    }

.list-con{
text-align: center;

}
   
      .contact-section {
        background-color: #4CAF50; /* Fondo verde */
        color: white; /* Texto en color blanco */
        padding: 20px; /* Espaciado interno */
      }
      
      .contact-container {
        margin-top: 20px; /* Espacio entre secciones */
        padding: 20px;
        border-radius: 8px;
      }
      
      .green-background {
        background-color: #4CAF50; /* Fondo verde */
      }

      .roman-list{
        list-style-type: upper-roman;
        padding-left: 20px;
       
      }
   

